/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(51, 71, 91, .8);
  font-family: Roboto, sans-serif;
  color: #fff;
}

/* CONTENT */


/* UTILITIES */



/* TEMPLATE */
