/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #009688 0%, #009688 15%, #dbdbd2 15%, #dbdbd2 100%);
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 16px;
}

/* CONTENT */
#app {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

/* LEFT DIV */
.left {
  width: 35%;
  background: #FFF;
}

#nav-left-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  min-height: 65px;
  background: #EAEAEA;
  border-right: 0.2px solid #B1B1B1;
}

.nav-left-user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav-left-user img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.nav-left-user-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  color: #B1B1B1;
  font-size: 1.4rem;
}

.nav-left-user-icons i {
  cursor: pointer;
  padding: 8px;
}

.nav-left-user-icons i:hover {
  color: rgba(0,0,0, 0.9);
}

#nav-left-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  min-height: 80px;
  background: #8EDAFD;
  border-right: 0.2px solid #B1B1B1;
}

.bell-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 20px;
  background: #fff;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #8EDAFD;
}

.span-notifications {
  color: #304853;
  font-weight: 700;
}

.a-active-notifications {
  text-decoration: underline;
  font-size: 0.75rem;
  color: #6292A9;
}

.nav-left-bottom-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* SEARCH BOX CONTACTS */
#searchbox-left {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  background: #FFF;
}

#searchbox-left input {
  width: 70%;
  height: 30px;
  padding: 10px 20px;
  line-height: 30px;
  border: 0;
  background: #FFF;
  color: #cfd1d1;
  font-size: 0.7rem;
}

#searchbox-left i {
  margin: 0 25px 0 35px;
  color: #cfd1d1;
  cursor: pointer;
}

#searchbox-left i:hover {
  color: rgba(0,0,0, 0.9);
}

.contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  max-height: 75px;
  border-bottom: 1px solid #EAEAEA;
}

.contact-list:hover {
  background: #EAEBEB;
}

.contact-list:last-child {
  border-bottom: 0;
}

.contact-list img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

/* RIGHT DIV */
.right {
  display: flex;
  flex-direction: column;
  width: 65%;
}

#nav-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  min-height: 65px;
  background: #EAEAEA;
}

.nav-right-user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav-right-user img {
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.user-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.span-name {
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}

.span-lastonline {
  color: rgba(0,0,0, .6);
  font-weight: 700;
  font-size: 0.7rem;
}

.nav-right-user-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  color: #B1B1B1;
  font-size: 1.4rem;
}

.nav-right-user-icons i {
  cursor: pointer;
  padding: 8px;
}

.nav-right-user-icons i:hover {
  color: rgba(0,0,0, 0.9);
}
/* MAIN */
#main-right {
  display: flex;
  background-image: url("../img/mine.jpg");
  width: 100%;
  height: 100%;
}

.main-received {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* FOOTER RIGHT */
#footer-right {
  width: 100%;
  height: 65px;
  min-height: 65px;
  background: #F3EEEB;
}

.input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.input-div i {
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  color: #6C7376;
  font-size: 1.4rem;
}

.input-div i:hover {
  color: rgba(0,0,0, 0.9);
}

.send-text {
  width: 80%;
  height: 50px;
  margin: 30px auto;
  padding: 10px 30px;
  line-height: 50px;
  border: 0;
  border-radius: 5px;
  background: rgba(255,255,255, 0.5);
  color: #B1B1B1;
}

/* UTILITIES */
.contact-list-timer {
  display: flex;
  height: 100%;
  line-height: 55px;
  color: #D5D6D8;
  font-size: 0.7rem;
  margin-right: 12px;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
  }
}

/* TEMPLATE */
.template {
  display: none;
}

.sent {
  align-items: flex-end;
  width: 130px;
  height: 50px;
  background: #D5FABA;
  border-radius: 5px;
  margin: 10px;
}

.received {
  align-items: flex-start;
  width: 130px;
  height: 50px;
  background: #FFF;
  border-radius: 5px;
  margin: 10px;
}
